<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/js/tabler.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler.min.css">
    <title>{{.title}}</title>
</head>

<style>
    input[type="text"]::placeholder {
        font-size: medium;
    }
</style>

<body style="--tblr-body-bg: #ffffff; font-size: large;">
    <div class="page-wrapper">
        <div class="page-body">
            <div class="container-xl">
                <header class="py-4 px-4 d-flex justify-content-center flex-column" , style="height: 15%;">
                    <div class="page-header">
                        <div class="row align-items-center" , style="width: 80%; align-self: center;">
                            <div class="col">
                                <input id="query" , type="text" , class="form-control form-control-rounded" ,
                                    style="background-color: rgb(240, 245, 252);" placeholder="Search…" />
                                <span class="input-icon-addon"> </span>
                            </div>
                            <div class="col-auto ms-auto d-print-none">
                                <div class="d-flex">
                                    <a href="#" , id="btn" , class="btn btn-primary">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="icon icon-tabler icons-tabler-outline icon-tabler-search">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
                                            <path d="M21 21l-6 -6" />
                                        </svg>
                                        search
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="row row-deck row-cards justify-content-center">
                    <div class="col-10">
                        <div class="card" , style="background-color:rgb(250, 250, 250);min-height: 40rem;">
                            <div id="card" , class="card-body d-flex flex-column" style="min-height: 10rem;">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    var loadingcard = `<div id="Loading", style="margin: auto 0px">
                            <div style="display: flex;align-items: center;flex-direction: column;align-self: center;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="60px" height="60px"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
                                    <path d="M21 21l-6 -6" />
                                </svg>
                                <h1>Loading<span class="animated-dots"></span></h1>
                            </div>
                            <div class="placeholder col-9" , style="margin-bottom: 10px;"></div>
                            <div class="placeholder col-11" , style="margin-bottom: 10px;"></div>
                            <div class="placeholder col-10" , style="margin-bottom: 10px;"></div>
                            <div class="placeholder col-8" , style="margin-bottom: 10px;"></div>
                        </div>
                        `

    var results = `<table id="results" , class="table table-vcenter"></table>`

    $('#btn').click(function () {
        document.getElementById("card").innerHTML = loadingcard
        GetResult();
    })

    // 获取后端
    function GetResult() {
        var text = document.getElementById('query').value;
        // alert(text);
        var query = JSON.stringify({ 'text': text });
        $.ajax({
            data: query,
            contentType: 'application/json',
            dataType: 'json',
            method: "POST",
            url: '/search',
            timeout: 3000000,
            success: function (data) {
                document.getElementById('card').innerHTML = results;
                data.data.forEach(item => {
                    Addrow(item.score, item.url)
                });
            },
            error: function (e) {
                alert("error");
            }
        })
    }

    function Addrow(score, url) {
        var table = document.getElementById('results');
        var newRow = table.insertRow(-1);
        var cell1 = newRow.insertCell(-1);
        cell1.setAttribute("class", "text-nowarp")
        cell1.innerHTML = score
        var cell2 = newRow.insertCell(-1);
        cell2.setAttribute("class", "text-secondary")
        cell2.innerHTML = url
    }
</script>

</html>